<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KikoPT1234 | Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <!-- Component Loading -->
    <script src="js/html/components/page.js"></script>
    <script src="js/html/components/popup.js"></script>
    <script src="js/html/components/container.js"></script>
    <script src="js/html/components/header.js"></script>

</head>
<body>
    <script src="js/html/pages/home.js"></script>
    <script src="js/functional/main.js"></script>
    <noscript>
        Hey, this website relies almost completely on JavaScript, so please enable it :), thanks.
    </noscript>
</body>
</html>