* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
}

body {
    font-family: "Nunito", sans-serif;
    min-height: 100vh;
    max-width: 100vw;
    background: linear-gradient(155deg, rgb(0, 18, 58), rgb(14, 0, 37));
    color: white;
    overflow-x: hidden;
}

.topnav {
    position: fixed;
    z-index: 10;
    width: 100%;
    /* background: #222; */
    color: white;
    /* box-shadow: 0 0px 10px black; */
}

.header {
    height: 60vh;
    position: relative;
    text-shadow: 
        0 10px 20px rgba(0, 0, 0, .4),
        0 4px 6px rgba(0, 0, 0, .4);
}

.container {
    padding: 0 20vw;
}

.topnav li {
    display: inline-block;
    margin: 10px;
}

.banner {
    height: 100%;
    position: relative;
}

.blocks {
    max-width: 100vw;
    height: 100%;
}

@media only screen and (max-width: 900px) {

    .blocks .block-1 {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 60vw;
        height: 35vh;
    }

    .banner h1 {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        font-size: 75px !important;
    }

    .header .banner h2 {
        width: 90vw;
        top: 40vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 37px;
    }
}

.block-1 {
    left: 100px;
    background: linear-gradient(135deg, #28C7FA, #3900FB);
    height: 50vh;
    width: 400px;
    position: absolute;
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, 0.4),
        0 4px 6px rgba(0, 0, 0, .4);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
}

.blocks h1 {
    position: absolute;
    font-size: 150px;
    top: 20%;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.banner h2 {
    position: absolute;
    top: 5%;
    font-size: 40px;
    width: calc(100vw - 640px);
    right: 40px;
    text-align: justify;
    top: 10%;
}