* {
    margin: 0;
    padding: 0;
    text-shadow: 
        0 10px 20px rgba(0, 0, 0, .1),
        0 4px 6px rgba(0, 0, 0, .1);
}

body {
    font-family: "Nunito", sans-serif;
    color: white;
    overflow-x: hidden;
    transition: background 250ms;
    background: #111;
    box-sizing: border-box;
}

.dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .25);
    z-index: 9;
    &.hidden {
        display: none;
    }
}

header {
    min-height: 100vh;
    .topnav {
        .button {
            position: relative;
            display: none;
            height: 22.5px;
            top: 50%;
            transform: translateY(-50%);
            width: 30px;
            left: 10px;
            text-align: center;
            cursor: pointer;
            .stripe {
                height: 3px;
                margin-bottom: 6px;
                background: white;
                border-radius: 3px;
                transition: transform 250ms cubic-bezier(0, 0, 0, 1)
            }
            &:nth-child(3) {
                margin-bottom: 0 !important;
            }
        }
        height: 50px;
        transition: background 250ms, box-shadow 250ms;
        position: fixed;
        width: 100%;
        z-index: 10;
        overflow-y: hidden;
        .logo {
            font-weight: bold;
            font-size: 2rem;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        ul {
            position: relative;
            float: right;
            right: 10px;
            li {
                display: inline-block;
                margin: 10px;
                font-size: 1.3rem;
                a {
                    padding-bottom: 5px;
                    color: white;
                    text-decoration: none;
                }
                &.selected a {
                    font-weight: bold;
                    border-bottom: 100px solid white
                }
            }
        }
    }

    .banner {
        .title {
            position: absolute;
            right: 20%;
            top: 50%;
            transform: translateY(-50%);
            text-align: right;
            h1 {
                font-size: 5rem;
            }
            h2 {
                font-size: 3rem;
                font-weight: normal;
            }
            &.main {
                position: relative;
                transform: none;
                text-align: justify;
                left: 10%;
                width: 80%;
                top: 15vh;
                margin-bottom: 100px;
                h1 {
                    font-size: 4rem;
                }
                h2 {
                    font-size: 2rem;
                }
            }
        }

        .buttons {
            position: relative;
            width: 100%;
            button {
                transition: 250ms cubic-bezier(0, 0, 0, 1);
                position: relative;
                padding: 10px;
                //width: 300px;
                margin: 10px;
                cursor: pointer;
                border-radius: 10px;
                outline: none;
                border: none;
                color: white;
                font-size: 2rem;
                font-family: "Nunito", sans-serif;
                height: 64px;
                text-align: left;
                box-shadow: 
                    0 10px 20px rgba(0, 0, 0, .1),
                    0 4px 6px rgba(0, 0, 0, .15);
                &:hover {
                    filter: brightness(1.5);
                    background-position: bottom right !important;
                    transform: scale(1.05);
                }
                &.minehut {
                    background: linear-gradient(-45deg,#0088FF, #004CFF, #0088FF);
                    background-size: 200%;
                    background-position: top left;
                }
                &.discord {
                    background: linear-gradient(-45deg, #738ADB, rgb(87, 104, 167), #738ADB);
                    background-size: 200%;
                    background-position: top left;
                }
                h3 {
                    display: inline-block;
                }
                img {
                    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.15));
                    height: 100%;
                    width: auto;
                    opacity: 1;
                    z-index: 0;
                    position: relative;
                    left: 0;
                    &[src="images/discord.png"] {
                        margin: 0 -10px;
                    }
                }

                * {
                    vertical-align: middle;
                    position: relative;
                    bottom: 2px;
                    margin-right: 5px;
                }
            }
        }

        .images {
            background: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
            //background-size: 200%;
            //animation: background-pos 80s linear infinite;
            z-index: -1;
            transition: filter 250ms;
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            img {
                width: 25vw;
                height: auto;
                position: absolute;
                z-index: 1;
                filter: brightness(.2);
                &.discord {
                    width: 50vw;
                    top: 100px;
                    right: -100px;
                    transform: translate(-50%, -50%) rotate(15deg);
                }
                &.html5 {
                    top: 80%;
                    transform: translate(-50%, -50%) rotate(-15deg);
                    left: 20%;
                }
                &.minehut {
                    width: 35vw;
                    top: 80%;
                    right: -30%;
                    transform: translate(-50%, -50%) rotate(-35deg);
                }
                &.nodejs {
                    transform: translate(-50%, -50%) rotate(10deg);
                    top: 120px;
                    left: 100px;
                }
            }
        }
    }
}

.separator {
    width: 95%;
    height: 3px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .7);
    margin: 0 auto 20px auto;
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, .1),
        0 4px 6px rgba(0, 0, 0, .1);
}

.container {
    padding: 10px 20%;
    width: 60%;
    text-align: justify
}

.no-container {
    margin: 0 -15vw;
}

.cards {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 100px;
    text-align: center;
    gap: 4vh 4vw;
    .card {
        position: relative;
        transition: 250ms cubic-bezier(0, 0, 0, 1);
        color: white;
        text-decoration: none;
        background: linear-gradient(-45deg, #0088FF, #004CFF, #0088FF);
        background-size: 200%;
        background-position: top left;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 
            0 10px 20px rgba(0, 0, 0, .1),
            0 4px 6px rgba(0, 0, 0, .15);
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.8rem;
            width: 80%;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 
                0 10px 30px rgba(0, 0, 0, .1),
                0 4px 15px -10px rgba(0, 0, 0, .15);
            background-position: bottom right;
            filter: brightness(1.5);
        }
    }
}

@media only screen and (min-width: 701px) {
    .dark {
        display: none !important;
    }
}

@media only screen and (max-width: 700px) {

    .container {
        padding: 10px 10%;
        width: 80%;
    }

    body .no-container {
        margin: 0;
    }

    header {
        .topnav {
            &.hidden {
                background: initial;
                ul {
                    transform: translateX(-100%);
                    opacity: 0;
                }
            }
            background: #111;
            overflow-y: visible;
            width: 100%;
            text-align: right;
            //background: #111;
            .button {
                display: block;
            }
            .logo {
                left: initial;
                right: 10px;
            }
            ul {
                box-shadow: 
                    rgba(0, 0, 0, 0.1) 0px 10px 20px, 
                    rgba(0, 0, 0, 0.15) 0px 4px 6px;
                position: absolute;
                transition: transform 250ms cubic-bezier(0, 0, 0, 1), opacity 250ms cubic-bezier(0, 0, 0, 1);
                width: 60%;
                height: 100vh;
                left: 0;
                right: initial;
                float: none;
                top: 50px;
                padding-top: 5px;
                background: #111;
                li {
                    display: block;
                    margin: 10px;
                    font-size: 1.3rem;
                    a {
                        padding-bottom: 5px;
                        color: white;
                        text-decoration: none;
                    }
                    &.selected a {
                        font-weight: bold;
                        border: none;
                    }
                }
            }
        }
        .title {
            text-align: center !important;
            right: initial !important;
            left: 50% !important;
            transform: translate(-50%, -50%) !important;
            h1 {
                font-size: 4rem !important;
            }
            h2 {
                font-size: 2.5rem !important;
            }
            &.main {
                text-align: justify !important;
                right: initial !important;
                left: 10% !important;
                top: 10vh !important;
                transform: none !important;
                h1 {
                    font-size: 4rem !important;
                }
                h2 {
                    font-size: 2rem !important;
                }
            }
        }
    }

    .buttons {
        text-align: center;
        button {
            display: block;
            width: 100% !important;
            margin: 10px 0 !important;
            text-align: center !important;
        }
        
        * {
            margin-right: 0 !important;
        }
    }

    .popup {
        .text {
            width: 80% !important;
            h1 {
                font-size: 3rem !important;
            }
            h2 {
                font-size: 1.5rem !important;
            }
        }
    }
}



.popup {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    height: 100%;
    transition: transform 250ms, opacity 250ms;
    transform: scale(.5);
    z-index: -2;
    .text {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        min-height: 50%;
        background: #333;
        border-radius: 20px;
        z-index: 12;
        box-shadow: 
            0 10px 20px rgba(0, 0, 0, .1),
            0 4px 6px rgba(0, 0, 0, .15);
        .popupTitle {
            width: 102%;
            background: #555;
            padding: 20px 0;
            margin: 0 -1%;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 
                0 10px 20px rgba(0, 0, 0, 0.1), 
                0 4px 6px rgba(0, 0, 0, 0.15);
        }
        h1, h2 {
            margin: 20px !important;
        }
    }
    .black {
        position: absolute;
        width: 200vw;
        height: 200vh;
        background: rgba(0, 0, 0, .2);
        top: -50vh;
        left: -50vw;
        z-index: 11;
    }
}

input[type="text"] {
    font-family: "Nunito", sans-serif;
    padding: 12px;
    background: linear-gradient(135deg, #444, #333, #444);
    background-size: 200%;
    border: none;
    border-radius: 2000px;
    color: white;
    transition: 250ms cubic-bezier(0, 0, 0, 1);
    outline: none;
    font-size: 1rem;
    z-index: 0;
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, .1),
        0 4px 6px rgba(0, 0, 0, .15);
    &:hover, &:focus {
        background-position: 100% 100%;
        transform: scale(1.05);
        filter: brightness(1.5);
        z-index: 1
    }
    &::placeholder {
        color: gray;
        font-size: 1rem;
        font-family: "Nunito", sans-serif;
    }
    &#api-search {
        position: sticky;
        padding: 15px;
        margin-top: 20px;
        height: 30px;
        display: block;
        width: calc(100% - 30px);
        top: 60px;
        z-index: 8;
    }
}

.code {
    padding: 2px 4px;
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
    padding: 1px 5px;
    border-radius: 4px;
    margin: 0 2px;
    font-family: monospace;
}

/*@keyframes background-pos {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 200% 200%;
    }
}*/

button {
    position: relative;
    border-radius: 10px;
    border: none;
    background: linear-gradient(-45deg, #0088FF, #004CFF, #0088FF);
    background-size: 200%;
    transition: 250ms cubic-bezier(0, 0, 0, 1);
    box-shadow: 
        0 10px 20px rgba(0, 0, 0, .1),
        0 4px 6px rgba(0, 0, 0, .15);
    color: white;
    font-size: 1.1rem;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    outline: none;
    z-index: 0;
    &:hover {
        transform: scale(1.05);
        background-position: 100%;
        filter: brightness(1.5);
        z-index: 1;
    }
}